In [1]:
import pandas as pd

In [2]:
dates = ['2018-03-05 12:39:00 PM', 'Mar 5,2018 12:39:00', '03/05/2018', '2018-03-05']
pd.to_datetime(dates)

DatetimeIndex(['2018-03-05 12:39:00', '2018-03-05 12:39:00',
               '2018-03-05 00:00:00', '2018-03-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [4]:
pd.to_datetime('4/5/2018', dayfirst=True)

Timestamp('2018-05-04 00:00:00')

In [6]:
pd.to_datetime('4$5$2018', format='%d$%m$%Y')

Timestamp('2018-05-04 00:00:00')

In [10]:
dates1 = ['2018-03-05 12:39:00 PM', 'Mar 5,2018 12:39:00', '03/05/2018', '2018-03-05','abc']
print(pd.to_datetime(dates1, errors='ignore'))
print('------------------------------')
print(pd.to_datetime(dates1, errors='coerce'))

['2018-03-05 12:39:00 PM' 'Mar 5,2018 12:39:00' '03/05/2018' '2018-03-05'
 'abc']
------------------------------
DatetimeIndex(['2018-03-05 12:39:00', '2018-03-05 12:39:00',
               '2018-03-05 00:00:00', '2018-03-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [11]:
t = 1528962323
pd.to_datetime(t, unit='s')

Timestamp('2018-06-14 07:45:23')