In [1]:
import pandas as pd

In [3]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_comparables',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [10]:
m = pd.Period('2018-6', freq='M')

In [11]:
m.start_time

Timestamp('2018-06-01 00:00:00')

In [12]:
m.end_time

Timestamp('2018-06-30 23:59:59.999999999')

In [13]:
m + 1

Period('2018-07', 'M')

In [14]:
d = pd.Period('2017-02-28')
d

Period('2017-02-28', 'D')

In [15]:
d + 1

Period('2017-03-01', 'D')

In [16]:
d = pd.Period('2016-02-28')
d + 1

Period('2016-02-29', 'D')

In [19]:
h = pd.Period('2016-02-28 23')
h

Period('2016-02-28 23:00', 'H')

In [20]:
h = pd.Period('2016-02-28 23:00:00', freq='H')
h

Period('2016-02-28 23:00', 'H')

In [21]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [22]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [24]:
m = pd.Period('2018-6-14 23:45')
m

Period('2018-06-14 23:45', 'T')

In [25]:
h+1

Period('2016-02-29 00:00', 'H')

In [26]:
m+23

Period('2018-06-15 00:08', 'T')

In [27]:
q = pd.Period('2018Q2')
q

Period('2018Q2', 'Q-DEC')

In [28]:
q = pd.Period('2018Q2', freq='Q-JAN')
q

Period('2018Q2', 'Q-JAN')

In [29]:
q.start_time

Timestamp('2017-05-01 00:00:00')

In [30]:
q = pd.Period('2018Q4', freq='Q-JAN')
q.start_time

Timestamp('2017-11-01 00:00:00')

In [31]:
q.end_time

Timestamp('2018-01-31 23:59:59.999999999')

In [32]:
q.asfreq('M')

Period('2018-01', 'M')

In [33]:
q.asfreq('M', how='S' )

Period('2017-11', 'M')

In [34]:
q.asfreq('M', how='E' )

Period('2018-01', 'M')

In [35]:
q = q.asfreq('Q')

In [36]:
q1 = pd.Period('2015Q1')

In [45]:
q-q1

12

In [46]:
idx = pd.period_range('2012',periods=15, freq='Q-Jan')
idx

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3',
             '2015Q4', '2016Q1', '2016Q2'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [48]:
idx[0].end_time

Timestamp('2012-01-31 23:59:59.999999999')

In [42]:
idx = pd.period_range('2012','2018', freq='Q-Jan')
idx

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3',
             '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3',
             '2018Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
idx[0].start_time

Timestamp('2011-11-01 00:00:00')

In [49]:
idx[0].end_time

Timestamp('2012-01-31 23:59:59.999999999')

In [50]:
import numpy as np

In [51]:
ps = pd.Series(np.random.randn(len(idx)),idx)

In [52]:
ps

2012Q4    1.403275
2013Q1    1.494027
2013Q2    0.515734
2013Q3   -0.807710
2013Q4   -2.340356
2014Q1   -1.565407
2014Q2    0.184936
2014Q3    0.038977
2014Q4   -0.903201
2015Q1   -0.597060
2015Q2    0.082709
2015Q3    1.521093
2015Q4   -0.137990
2016Q1    0.224241
2016Q2    0.196952
Freq: Q-JAN, dtype: float64

In [53]:
ps.index

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3',
             '2015Q4', '2016Q1', '2016Q2'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [54]:
ps['2011']

2012Q4    1.403275
Freq: Q-JAN, dtype: float64

In [55]:
ps['2011':'2013']

2012Q4    1.403275
2013Q1    1.494027
2013Q2    0.515734
2013Q3   -0.807710
2013Q4   -2.340356
2014Q1   -1.565407
2014Q2    0.184936
2014Q3    0.038977
2014Q4   -0.903201
Freq: Q-JAN, dtype: float64

In [56]:
pst = ps.to_timestamp()
pst

2011-11-01    1.403275
2012-02-01    1.494027
2012-05-01    0.515734
2012-08-01   -0.807710
2012-11-01   -2.340356
2013-02-01   -1.565407
2013-05-01    0.184936
2013-08-01    0.038977
2013-11-01   -0.903201
2014-02-01   -0.597060
2014-05-01    0.082709
2014-08-01    1.521093
2014-11-01   -0.137990
2015-02-01    0.224241
2015-05-01    0.196952
Freq: QS-NOV, dtype: float64

In [58]:
pst.index

DatetimeIndex(['2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [59]:
pst.to_period()

2011Q4    1.403275
2012Q1    1.494027
2012Q2    0.515734
2012Q3   -0.807710
2012Q4   -2.340356
2013Q1   -1.565407
2013Q2    0.184936
2013Q3    0.038977
2013Q4   -0.903201
2014Q1   -0.597060
2014Q2    0.082709
2014Q3    1.521093
2014Q4   -0.137990
2015Q1    0.224241
2015Q2    0.196952
Freq: Q-DEC, dtype: float64

In [60]:
data = pd.read_csv("wmt.csv")
data

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [61]:
data.set_index('Line Item', inplace=True)

In [62]:
data = data.T
data

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [63]:
data.index = pd.PeriodIndex(data.index, freq= 'Q-jan')
data.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [67]:
data['start_date'] = data.index.map(lambda x: x.start_time)
data

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [68]:
data.index.start_time

DatetimeIndex(['2016-02-01', '2016-05-01', '2016-08-01', '2016-11-01',
               '2017-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [69]:
data['end_date']  = data.index.end_time
data

Line Item  Revenue  Expenses  Profit start_date   end_date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30